/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500&display=swap'); */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:300,400,500,600,700&amp;lang=en');

* {
  font-family: 'Noto Sans', sans-serif;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}




body {
  --COLOR-TOPBAR-BG: #00001B;
  --COLOR-LIGHT-BLUE: #50B8E2;
  --COLOR-DARKER-BLUE: #0D4D8B;
  --COLOR-GOLDEN-ROD: #DAA520;
  --COLOR-CARD-BG: #0F254ECC;
  --COLOR-WHITE: #FFFFFF;
  --COLOR-STATUS: #1594D3;
  --FONT-SUBTITLE-SIZE: 24px;
  --COLOR-HIRO-TITLE:#50B8E2;
  --COLOR-BTN-PRIMARY:#50B8E2;
  --COLOR-PRICE:#ffffff;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100vh;
}

body.light {
  --COLOR-TOPBAR-BG: #FFFFFF;
  --COLOR-CARD-BG: #FFFFFF;
  --COLOR-WHITE: #0B1831;
  --COLOR-HIRO-TITLE:#0D4D8B;
  --COLOR-PRICE:#000000;
}

h2{
  font-size: var(--FONT-SUBTITLE-SIZE);
  font-weight: 400;
  text-align: center;
}

h2.primary {
  color: var(--COLOR-HIRO-TITLE);
}

h2.nft {
  color: var(--COLOR-GOLDEN-ROD);
}

h2.warning {
  color: var(--COLOR-HIRO-TITLE);
}

button {
  border-radius: 6px;
  cursor: pointer;
}

p {
  font-size: 16px;
}

.logo img {
  width: 251px;
  height: 100%;
}


.topbar {
  background-color: var(--COLOR-TOPBAR-BG);
  height: 80px;
  display: flex;
  align-items: center;
}

.light .topbar {
  border-bottom: 1px solid #CECECE;
}

.topbar-container {
  display: flex;
  justify-content: space-between;
  flex-flow: row;
  margin: 0 auto;
  max-width: 600px;
  width: 600px;
  height: 49px;
}

.btn-wallet {
  display: flex;
  align-items: center;
  padding: 12px 16px;
  border: 0;
  background-color: var(--COLOR-DARKER-BLUE);
  position: relative;
}

#wallet {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color:var( --COLOR-BTN-PRIMARY);
  color:black;
  padding: 10px;
  z-index: 2;

}

.status {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: inline-block;
  background-color: var(--COLOR-STATUS);
  margin-right: 17px;
}

.topbar-actions {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  height: 48px;
  width: 313px;
}

.address {
  font-size: 16px;
  font-weight: 500;
  color: white;
  line-height: 22px;
  width: 164px;
}

.icon-light, .icon-dark {
  margin: 0 16px;
  color: var(--COLOR-WHITE);
  height: 48px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: color ease .5s;
}

.icon-light:hover, .icon-dark:hover {
  color: var(--COLOR-GOLDEN-ROD);
}

.icon-dark {
  display: none;
}

.light .icon-dark {
  display: flex;
}

.light .icon-light {
  display: none;
}

.icon-dropdown {
  display: flex;
  height: 46px;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  border-radius: 6px;
  color: var(--COLOR-WHITE);
  border: 1px solid transparent;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color:white;
}

.content {
  flex: 1;
  background-color: var(--COLOR-TOPBAR-BG);
  position: relative;
}

.mask {
  background-image: url("../image/back.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.25;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.main-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hiro {
  display: flex;
  flex-flow: column;
  margin: 0 auto;
  margin-top: 48px;
  max-width: 600px;
  align-items: center;
  border-radius: 12px;
  background-color: var(--COLOR-CARD-BG);
  height: 323px;

} 

.card {
box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);;
}


.hiro > h2 {
  margin-top: 32px;
}

.reward {

  margin-top: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 16px;
  width: 536px;
}

.reward-section {
  width: 100%;
  text-align: center;

}

.pricetitle {
  color: #ffffff7f;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px ;
  width: 260px;
  text-align: center;
}

.nft-pricetitle {
  color: #ffffff7f;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px ;
  text-align: center;
}

 .price {
  font-size: 32px;
  color: var(--COLOR-PRICE);
  line-height: 44px;
}

.hiro .claim-rewards {
  margin-top: 16px;
  display: flex;
  justify-content: center;
}


.btn-primary {
  background-color: var(--COLOR-BTN-PRIMARY);
  color: #0E1528;
  padding: 13px 16px;
  font-size: 16px;
  width: 159px;
}

.hiro .claim-rewards .btn-primary {
  border: none;
}


.footer {
  margin-top: 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 600px;
  height: 80px;
  gap: 16px;
  padding: 16px 32px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.hiro-footer {
  background-color: var(--COLOR-BTN-PRIMARY);

}
.footer-text {
  width: 173px; 
  height: 46px;
}
.footerprice {
  text-align: center;
  color: #121212;
  font-size: 20px;
}

.extra {
  font-size: 14px;
  color: #121212;
  text-align: center;
}

.btn-buy {
  color: #0F254E;
  border:1px solid #0F254E;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 158px;
  height: 48px;
}

.hiro-btn {
  background-color: var(--COLOR-BTN-PRIMARY);

}

.nft-btn {
  background-color: var(--COLOR-GOLDEN-ROD);
}

.btn-buy span {
  line-height: 22px;
  font-size: 16px;
  font-weight: 400px;
  width: 126px;
}

.nft {
  display: flex;
  flex-flow: column;
  margin: 0 auto;
  margin-top: 24px;
  max-width: 600px;
  align-items: center;
  border-radius: 12px;
  background-color: var(--COLOR-CARD-BG);
  opacity: 0.999;
  height: 259px;
} 


.nft > h2 {
  margin-top: 32px;
}


.nft .claim-rewards {
  padding: 25px 0px;
}
/* 
.nft-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: var(--COLOR-GOLDEN-ROD);
  padding: 15px 30px;
  margin-top: 32px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
} */
.nft-footer {
  background-color: var(--COLOR-GOLDEN-ROD);
}

/* .nft-footer>div .price {
  text-align: center;
  color: black;
  font-size: 20px;
}

.nft-footer>div .extra {
  font-size: 14px;
  color: grey;
  text-align: center;
}

.nft .btn-primary {
  background-color: var(--COLOR-GOLDEN-ROD);
  color: #000;
  padding: 13px 15px;
  font-size: 16px;
  border: 1px solid black;
}

.nft .claim-rewards .btn-primary {
  border: none;
} */


@media screen and (max-width: 600px) {
  .address {
    display: none;
  }
  .logo{
    margin-right: 16px;
  
  }

  .logo a {
    display: flex;
  }

  .logo a img {
    width: 90%;
  }
  .topbar-actions {
    margin-left: 5px;
    margin-right: 20px;
  }
  .dropdown-content{
    left: -120px;
  }
  .footer {
    flex-wrap: wrap;
    justify-content: center;
  }
  .middle {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .card{
    margin-left:2rem;
    margin-right:2rem;
    
  }
}
