@import url('https://fonts.googleapis.com/css?family=Noto+Sans:300,400,500,600,700&amp;lang=en');

* {
  font-family: 'Noto Sans', sans-serif;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  --COLOR-TOPBAR-BG: #00001B;
  --COLOR-DARKER-BLUE: #0D4D8B;
  --COLOR-GOLDEN-ROD: #DAA520;
  --COLOR-CARD-BG: #0F254ECC;
  --COLOR-BTN-BUY:#0f2542;
  --COLOR-WHITE: #FFFFFF;
  --COLOR-STATUS: #1594D3;
  --FONT-SUBTITLE-SIZE: 24px;
  --COLOR-LIGHT-BLUE:#50B8E2;
  --COLOR-BTN-PRIMARY:#50B8E2;
  --COLOR-PRICE:#ffffff;
  --COlOR-PRICELIST:#ffffff80;
  --COLOR-BTN-PRIMARY-HOVER:#A8DCF0;
  --COLOR-PRIMARY-HOVER:#0E1528;
  --COLOR-DROPDOWN-PRIMARY:#50B8E2;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

body.light {  
  --COLOR-TOPBAR-BG: #FFFFFF;
  --COLOR-CARD-BG: #FFFFFF;
  --COLOR-WHITE: #0B1831;
  --COLOR-LIGHT-BLUE:#0D4D8B;
  --COLOR-PRICE:#000000;
  --COlOR-PRICELIST:#0B183180;
  --COLOR-DROPDOWN-PRIMARY:#A8DCF0;
}

h2{
  font-size: var(--FONT-SUBTITLE-SIZE);
  font-weight: 400;
  text-align: center;
  line-height: 33px;
}

h2.primary {
  color: var(--COLOR-LIGHT-BLUE);
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
}

h2.nft {
  color: var(--COLOR-GOLDEN-ROD);
  text-align: center;
}

h2.warning {
  color: var(--COLOR-LIGHT-BLUE);
}

button {
  border-radius: 6px;
  cursor: pointer;
}

p {
  font-size: 16px;
}

.logo img {
  width: 251px;
  height: 100%;
}


.topbar {
  background-color: var(--COLOR-TOPBAR-BG);
  height: 80px;
  display: flex;
  align-items: center;
}

.light .topbar {
  border-bottom: 1px solid #CECECE;
}

.topbar-container {
  display: flex;
  justify-content: space-between;
  flex-flow: row;
  margin: 0 auto;
  max-width: 600px;
  width: 600px;
  height: 49px;
  align-items: center;
}

.btn-wallet {
  display: flex;
  align-items: center;
  padding: 12px 16px;
  border: 0;
  background-color: var(--COLOR-DARKER-BLUE);
  position: relative;
}

#wallet {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color:var( --COLOR-BTN-PRIMARY);
  color:black;
  padding: 5px;
  z-index: 2;
  border-radius: 10px;
  width: auto;

}

.status {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: inline-block;
  background-color: var(--COLOR-STATUS);
  margin-right: 17px;
}

.topbar-actions {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  height: 48px;
  width: 313px;
}

.address {
  font-size: 16px;
  font-weight: 500;
  color: white;
  line-height: 22px;
  width: 164px;
}

.icon-light, .icon-dark {
  margin: 0 16px;
  color: var(--COLOR-WHITE);
  height: 48px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: color ease .5s;
}

.icon-light:hover, .icon-dark:hover {
  color: var(--COLOR-GOLDEN-ROD);
}

.icon-dark {
  display: none;
}

.light .icon-dark {
  display: flex;
}

.light .icon-light {
  display: none;
}

.icon-dropdown {
  display: flex;
  height: 46px;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  border-radius: 6px;
  color: var(--COLOR-WHITE);
  border: 1px solid transparent;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  position: fixed;
  height: 100%;
  top: 80px;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transform: translateX(-100%);
  background-color:var(--COLOR-DROPDOWN-PRIMARY);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 2;
  transition: transform 0.3s ease-out, opacity 0.3s ease-out;

}

.dropdown-content.active {
  visibility: visible;
  opacity: 1;
  transform: translateX(0); 
}

  
.dropdown-content a {
  text-align: center;
  color:black;  
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-bottom: 1px solid black;

}

.dropdown-content a:hover {background-color: #A8DCF0;}


.dropdown:hover .dropbtn {
  background-color:#ffffff;
}

.content {
  position: relative;
  height: 100%;
  flex: 1;
  background-color: var(--COLOR-TOPBAR-BG);
}

.content::before {    
  height: 100%;
  content: "";
  background-image: url('../image/back.png');
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.25;
 
}



.main-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding-top: 24px;
  padding-bottom: 24px;
}

.hiro {
  display: flex;
  flex-flow: column;
  margin: 0 auto;
  margin-top: 24px;
  max-width: 600px;
  align-items: center;
  border-radius: 12px;
  background-color: var(--COLOR-CARD-BG);
  height: 323px;
  padding-top: 32px;

} 

.card {
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
  z-index: 1;
}


.reward {

  margin-top: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 16px;
  width: 536px;
}

.reward-section {
  width: 100%;
  text-align: center;

}

.pricetitle {
  color: var(--COlOR-PRICELIST);
  font-weight: 400;
  font-size: 16px;
  line-height: 22px ;
  width: 260px;
  text-align: center;
}

.nft-pricetitle {
  color: #ffffff80;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px ;
  text-align: center;
}

 .price {
  font-size: 32px;
  color: var(--COLOR-PRICE);
  line-height: 44px;
}

.hiro .claim-rewards {
  margin-top: 16px;
  display: flex;
  justify-content: center;
}


.btn-primary {
  background-color: var(--COLOR-BTN-PRIMARY);
  color: #0E1528;
  padding: 13px 16px;
  font-size: 16px;
  width: 159px;
}
.btn-primary:hover{
  background-color: var(--COLOR-BTN-PRIMARY-HOVER);
  color:var(--COLOR-PRIMARY-HOVER);
}

.hiro .claim-rewards .btn-primary {
  border: none;
}


.footer {
  margin-top: 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 600px;
  height: 80px;
  gap: 16px;
  padding: 16px 32px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.hiro-footer {
  background-color: var(--COLOR-BTN-PRIMARY);

}
.footer-text {
  width: 173px; 
  height: 46px;
}
.footerprice {
  text-align: center;
  color: #121212;
  font-size: 20px;
}

.extra {
  font-size: 14px;
  color: #12121280;
  text-align: center;
}

.btn-buy {
  color: var( --COLOR-BTN-BUY);
  border:1px solid var( --COLOR-BTN-BUY);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 158px;
  height: 48px;
}

.btn-buy:hover {
  background-color: var( --COLOR-BTN-BUY);
  color:#ffffff;
}

.hiro-btn {
  background-color: var(--COLOR-BTN-PRIMARY);

}

.nft-btn {
  background-color: var(--COLOR-GOLDEN-ROD);
}

.btn-buy span {
  line-height: 22px;
  font-size: 16px;
  font-weight: 400px;
  width: 126px;
}

.nft {
  display: flex;
  flex-flow: column;
  margin: 0 auto;
  margin-top: 24px;
  max-width: 600px;
  align-items: center;
  border-radius: 12px;
  background-color: var(--COLOR-CARD-BG);
  height: 259px;
  padding-top: 32px;
} 

.gold {
  color: var(--COLOR-GOLDEN-ROD);
  text-align: center;
}


.nft .claim-rewards {
  padding: 25px 0px;
}

.nft-footer {
  background-color: var(--COLOR-GOLDEN-ROD);
}



@media screen and (max-width: 600px) {
  
 
   .address{
    display: none;
  }
  .topbar{
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .topbar-container {
    margin-left: 10%;
    margin-right: 10%;
    
  }
  .topbar{
    width: 100%;
  }
  .topbar-actions{
    width: 30vw; 
    justify-content: end;
    align-items: center;
  }
  .btn-wallet{
    height: 30px;
    padding: 5px 5px 5px 5px;
  
  }
  .status {
    width: 16px;
    height: 16px;
  }
  .status {
    margin:auto;
  }
  .card {
    margin-left: 10%;
    margin-right: 10%;
    height: auto;
    padding-top: 24px;
    
  }
  .hiro {
    margin-top: 0px;
  }
  .reward {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .pricetitle{
    width: 100%;
  }
  .footer{
    width: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: auto;
  }
  .footer > div {
    width: auto;
  }
  .gold {
    padding-left: 5%;
    padding-right: 5%;
  }
  #logo {
    width: 45vw;
    height: 10vw;
  }
  .dropdown-content {
    top:70px;
  }
 

}
